p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: red;
    border: 1px dotted grey;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    background-color: lightyellow;
}